VITE_API_BASE_URL=http://localhost:3001
# Không nên hard-code token vào frontend khi deploy public.
# Để trống và nhập API_TOKEN ở màn hình login frontend.
VITE_API_TOKEN=YsLS7X_wdy1ahvcpxs5WMf7TCui4qnoxl31KwWWLvwo
